.Sample input,
.Sample button {
  font: inherit;
}

.Sample__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.Sample__container__content {
  display: flex;
  max-width: 100%;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  align-items: stretch;
}
.react-calendar__tile--active {
  background: #f9a319;
  color: white;
  border-radius: 5px;
}

.Sample__container__content .react-calendar {
  margin: 0 auto;
  @apply rounded-2xl border-none bg-bg-primary;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  @apply bg-whiteSecondary text-bg-primary;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  @apply bg-whiteSecondary text-bg-primary;
}
